.version.photos{color:#0000F9;background-color:#26E37C;}#muse_css_mq{background-color:#FFFFFF;}#page{z-index:1;min-height:2423.99998215781px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:0px;width:100%;max-width:1160px;margin-left:auto;margin-right:auto;}#page_position_content{margin-top:-215px;padding-bottom:1327px;width:100%;}#pu3788{z-index:12;width:0.01px;margin-left:109px;}#u3788{z-index:12;width:50px;min-height:25px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;margin-top:3px;}#u3787{z-index:11;width:60px;min-height:30px;border-width:0px;border-color:transparent;background-color:transparent;position:relative;margin-right:-10000px;left:68px;}#pu3546-8{z-index:2;margin-top:25px;width:82.94%;margin-left:8.54%;}#u3546-8{z-index:2;min-height:131px;background-color:transparent;color:#FFFFFF;font-size:72px;text-align:center;line-height:86px;font-family:Verdana, Tahoma, Geneva, sans-serif;position:relative;margin-right:-10000px;margin-top:29px;width:100%;}#u3546-2{color:#0000FF;}#u3546-4{color:#FBB03B;}#u3550{z-index:10;height:9px;background-color:#FFFFFF;border-radius:20px;position:relative;margin-right:-10000px;margin-top:160px;width:80.36%;left:9.88%;}#u3797{z-index:13;position:relative;margin-right:-10000px;width:93.25%;left:4.27%;}.ie #u3797{background-color:#FFFFFF;opacity:0.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);}#u3797 .fluid_height_spacer{padding-bottom:140.0222965440357%;}#u4375{z-index:14;height:25px;border-width:0px;border-color:transparent;background-color:transparent;max-width:100000px;position:relative;margin-right:-10000px;margin-top:49px;width:10.4%;left:89.61%;}#u4406{z-index:15;height:132px;border-style:solid;border-width:9px;border-color:#FFFFFF;background-color:transparent;border-radius:27px;position:relative;margin-right:-10000px;margin-top:-1px;width:72.56%;left:12.79%;}.css_verticalspacer .verticalspacer{height:calc(100vh - 2666px);}.html{background-color:#FF0000;}body{position:relative;min-width:960px;padding-top:243px;}





.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow:hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
